<script setup lang="ts">
import { useStreamElements } from '@/stores/streamElements';
import { computed } from 'vue';

const streamElements = useStreamElements();

const backgroundImage = computed(
  () => `url(${streamElements.fields?.backgroundPattern})`,
);
</script>
<template>
  <div class="absolute inset-0">
    <div
      class="absolute top-0 left-0 right-0 h-screen w-screen transition-colors duration-1000 -z-10 from-purple-500 via-purple-500 via-10% to-green-500 bg-gradient-to-tr"
    />
    <div
      class="absolute inset-0 bg-repeat -z-10 hexagons opacity-5 animate-slide-diagonal"
      :style="{
        backgroundImage,
      }"
    />
  </div>
</template>
