<script setup lang="ts">
import { useLayoutStore } from '@/stores/layout';
import { ref } from 'vue';

const layoutStore = useLayoutStore();

const backgroundScale = ref(1.6);
</script>
<template>
  <div class="px-14">
    <div
      class="transition duration-1000 rounded-full shadow-md"
      :class="
        layoutStore.logoBackgroundVisible
          ? 'bg-purple-500/100 shadow-md'
          : 'bg-purple/0 shadow-transparent'
      "
      :style="{ transform: `scale(${backgroundScale})` }"
    >
      <div
        class="relative h-32 -mx-14"
        :style="{
          width: `${layoutStore.logoWidthPx}px`,
          transform: `scale(${1 / backgroundScale})`,
        }"
      >
        <svg class="absolute" viewBox="0 0 579 129">
          <g
            id="logo-E"
            transform="matrix(14.2125,0,0,14.2125,-12817,-515.441)"
          >
            <g transform="matrix(12,0,0,12,900.992,45.1826)">
              <path
                d="M0.086,0C0.076,0 0.068,-0.008 0.068,-0.018L0.068,-0.717C0.068,-0.727 0.076,-0.735 0.086,-0.735L0.455,-0.735L0.455,-0.627L0.068,-0.627L0.068,-0.451L0.394,-0.451L0.394,-0.343L0.187,-0.343L0.187,-0.117C0.187,-0.114 0.188,-0.112 0.19,-0.111C0.191,-0.109 0.193,-0.108 0.196,-0.108L0.455,-0.108L0.455,-0L0.086,0Z"
                style="fill: rgb(248, 202, 26); fill-rule: nonzero"
              />
            </g>
          </g>
        </svg>
        <svg class="absolute" viewBox="0 0 579 129">
          <g
            id="logo-larcis"
            transform="matrix(14.2125,0,0,14.2125,-12817,-515.441)"
          >
            <g transform="matrix(12,0,0,12,906.992,45.1826)">
              <path
                d="M0.068,-0L0.068,-0.735L0.187,-0.735L0.187,-0.108L0.463,-0.108L0.463,-0L0.068,-0Z"
                style="fill: white; fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(12,0,0,12,912.992,45.1826)">
              <path
                d="M0.045,-0L0.045,-0.074C0.045,-0.207 0.093,-0.427 0.19,-0.735L0.31,-0.735C0.407,-0.427 0.455,-0.207 0.455,-0.074L0.455,-0L0.335,-0L0.335,-0.074C0.335,-0.099 0.334,-0.126 0.331,-0.157L0.169,-0.157C0.166,-0.126 0.165,-0.099 0.165,-0.074L0.165,-0L0.045,-0ZM0.317,-0.265C0.303,-0.354 0.281,-0.46 0.25,-0.584C0.219,-0.46 0.197,-0.354 0.183,-0.265L0.317,-0.265Z"
                style="fill: white; fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(12,0,0,12,918.992,45.1826)">
              <path
                d="M0.045,-0L0.045,-0.735L0.249,-0.735C0.292,-0.735 0.33,-0.726 0.363,-0.707C0.392,-0.69 0.415,-0.667 0.432,-0.637C0.453,-0.601 0.463,-0.558 0.463,-0.506C0.463,-0.456 0.453,-0.412 0.432,-0.376C0.415,-0.346 0.392,-0.323 0.363,-0.306C0.358,-0.303 0.352,-0.3 0.346,-0.297C0.361,-0.276 0.374,-0.255 0.386,-0.234C0.437,-0.145 0.463,-0.067 0.463,-0L0.343,-0C0.343,-0.052 0.323,-0.113 0.283,-0.182C0.265,-0.213 0.243,-0.245 0.218,-0.278L0.165,-0.278L0.165,-0L0.045,-0ZM0.165,-0.386L0.249,-0.386C0.266,-0.386 0.281,-0.39 0.294,-0.398C0.307,-0.405 0.317,-0.416 0.325,-0.43C0.337,-0.45 0.343,-0.475 0.343,-0.506C0.343,-0.538 0.337,-0.563 0.325,-0.583C0.317,-0.597 0.307,-0.608 0.294,-0.616C0.281,-0.623 0.266,-0.627 0.249,-0.627L0.165,-0.627L0.165,-0.386Z"
                style="fill: white; fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(12,0,0,12,924.992,45.1826)">
              <path
                d="M0.251,0.008C0.206,0.008 0.167,-0.001 0.135,-0.02C0.106,-0.037 0.083,-0.059 0.066,-0.088C0.047,-0.122 0.037,-0.163 0.037,-0.21L0.037,-0.525C0.037,-0.572 0.047,-0.613 0.066,-0.647C0.083,-0.676 0.106,-0.698 0.135,-0.715C0.167,-0.734 0.206,-0.743 0.251,-0.743C0.296,-0.743 0.335,-0.734 0.367,-0.715C0.396,-0.698 0.419,-0.675 0.436,-0.646C0.447,-0.625 0.455,-0.603 0.46,-0.58L0.344,-0.553C0.341,-0.566 0.337,-0.579 0.331,-0.591C0.322,-0.605 0.312,-0.616 0.299,-0.623C0.285,-0.631 0.269,-0.635 0.251,-0.635C0.233,-0.635 0.217,-0.631 0.204,-0.624C0.191,-0.616 0.18,-0.605 0.173,-0.591C0.162,-0.574 0.157,-0.552 0.157,-0.525L0.157,-0.21C0.157,-0.183 0.162,-0.161 0.173,-0.144C0.18,-0.13 0.191,-0.119 0.204,-0.112C0.217,-0.104 0.233,-0.1 0.251,-0.1C0.269,-0.1 0.285,-0.104 0.299,-0.112C0.312,-0.119 0.322,-0.13 0.331,-0.144C0.337,-0.156 0.341,-0.169 0.344,-0.182L0.46,-0.155C0.455,-0.132 0.447,-0.11 0.436,-0.089C0.419,-0.06 0.396,-0.037 0.367,-0.02C0.335,-0.001 0.296,0.008 0.251,0.008Z"
                style="fill: white; fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(12,0,0,12,930.992,45.1826)">
              <path
                d="M0.11,-0L0.11,-0.108L0.19,-0.108L0.19,-0.627L0.11,-0.627L0.11,-0.735L0.39,-0.735L0.39,-0.627L0.31,-0.627L0.31,-0.108L0.39,-0.108L0.39,-0L0.11,-0Z"
                style="fill: white; fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(12,0,0,12,936.992,45.1826)">
              <path
                d="M0.246,0.008C0.199,0.008 0.158,-0.002 0.124,-0.021C0.098,-0.036 0.077,-0.057 0.062,-0.083C0.049,-0.106 0.041,-0.13 0.04,-0.155L0.157,-0.177C0.158,-0.176 0.158,-0.175 0.157,-0.174C0.158,-0.161 0.161,-0.15 0.167,-0.139C0.173,-0.128 0.182,-0.119 0.194,-0.112C0.208,-0.104 0.225,-0.1 0.246,-0.1C0.266,-0.1 0.283,-0.104 0.296,-0.112C0.308,-0.119 0.317,-0.128 0.324,-0.14C0.331,-0.153 0.335,-0.167 0.335,-0.183C0.335,-0.201 0.33,-0.219 0.32,-0.237C0.305,-0.264 0.27,-0.293 0.215,-0.324C0.144,-0.366 0.097,-0.407 0.074,-0.446C0.055,-0.479 0.045,-0.514 0.045,-0.551C0.045,-0.587 0.054,-0.62 0.071,-0.65C0.087,-0.677 0.109,-0.699 0.136,-0.715C0.169,-0.734 0.208,-0.743 0.254,-0.743C0.301,-0.743 0.342,-0.733 0.376,-0.714C0.402,-0.699 0.423,-0.678 0.438,-0.652C0.451,-0.629 0.459,-0.605 0.46,-0.58L0.343,-0.558C0.342,-0.559 0.342,-0.56 0.343,-0.561C0.342,-0.574 0.339,-0.585 0.333,-0.596C0.327,-0.607 0.318,-0.616 0.306,-0.623C0.292,-0.631 0.275,-0.635 0.254,-0.635C0.234,-0.635 0.217,-0.631 0.204,-0.623C0.192,-0.616 0.183,-0.607 0.176,-0.595C0.169,-0.582 0.165,-0.568 0.165,-0.552C0.165,-0.534 0.17,-0.516 0.18,-0.498C0.195,-0.471 0.23,-0.442 0.285,-0.411C0.356,-0.369 0.403,-0.328 0.426,-0.289C0.445,-0.256 0.455,-0.221 0.455,-0.185C0.455,-0.148 0.446,-0.115 0.429,-0.085C0.413,-0.058 0.391,-0.036 0.364,-0.02C0.331,-0.001 0.292,0.008 0.246,0.008Z"
                style="fill: white; fill-rule: nonzero"
              />
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</template>
