<script setup lang="ts">
import { computed, ref, type Ref } from 'vue';
import TheBackground from './components/TheBackground.vue';
import TheLogo from './components/TheLogo.vue';
import { useLayoutStore } from './stores/layout';

const layoutStore = useLayoutStore();

const logoTransform = computed(() => {
  const position = logoPosition.value;
  const scale = layoutStore.barState === 'expanded' ? 1 : 0.39;
  return `translate(${position.x}px, ${position.y}px) scale(${scale})`;
});

const logoPosition = computed(() => {
  if (layoutStore.barState === 'expanded') {
    const center =
      ((document.body.clientWidth ?? 0) - layoutStore.chatWidthPx) / 2;
    return { x: center - layoutStore.logoWidthPx / 2, y: 256 };
  }
  return { x: 10, y: 10 };
});

const backgroundHeight = computed(() => {
  switch (layoutStore.barState) {
    case 'collapsed':
      return '60px';
    case 'expanded':
      return '100vh';
    case 'hidden':
    default:
      return '0';
  }
});
</script>

<template>
  <div
    class="relative transition-[height] duration-1000 overflow-hidden"
    :style="{ height: backgroundHeight }"
  >
    <TheBackground class="" />
  </div>
  <main class="absolute inset-0 flex overflow-hidden">
    <div
      class="absolute transition duration-1000 origin-top-left"
      :style="{
        transform: logoTransform,
      }"
    >
      <TheLogo class="absolute" />
    </div>
  </main>
</template>
